username = request.POST.get('username')
            email = request.POST.get('email')
            already_username = User.objects.filter(username=username)
            already_email = User.objects.filter(email=email)
            if len(already_username) > 0:
                messages.error(request, "That username is already used.")
            elif len(already_email):
                messages.error(request, 'That email is already used.')
            else:
                user = User.objects.get(username=request.user.username)
                user.update(
                    username = request.POST.username,
                    email = request.POST.email,
                    password = request.POST.password
                )