{% load static %}


<style>
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 2%;
        background: rgb(0, 79, 116);
        margin: 0 !important;
        padding: 5px;
    }
    nav a{
        color: rgb(213, 241, 255) !important;
    }
    .home{
        font-size: x-large;
    }
</style>


<nav>
    <div>
        {{ request.user.profile.profilePicture.url }}
        <a class="nav-links home" href="/">Home</a>
    </div>
    <form method="GET" action="{% url 'home' %}">
        <input class="search-bar" type="text" name="q" placeholder="Search anything...">
    </form>

        <div style="position: relative;">
            {% if request.user.is_authenticated %}
                    <div style="display: grid;grid-template-columns: 3fr 1fr;">
                        @{{ request.user.username }}
                        <img style="width:50px;height:50px;" src="{{ request.user.profile.profilePicture.url }}" alt="Profile">
                       
                        <section onmouseover="document.querySelector('.hiddennav').style.display = 'block'" onmouseleave="document.querySelector('.hiddennav').style.display = 'none'" style="padding-left: 8px;cursor: pointer;">
                            D
                        </section>
                    </div>
                    <style>
                        .hiddennav{
                            display: none;
                            transition: 0.5s;
                        }
                    </style>
                    <div class="hiddennav" onmouseover="this.style.display = 'block' " onmouseleave="this.style.display = 'none'" style="position: absolute;background: red;padding-right: 35%;">
                            <!-- <ul style="list-style: none;"> -->
                                <span>Profile</span><br>
                                <span>
                                    <a href="{% url 'logout' %}">Logout</a>
                                </span>0789127212
                                <br>
                                <h1>{{ request.user.profile.profilePicture }}</h1>
                                <h1>{{ request.user.profile.age }}</h1>
                            <!-- </ul> -->
                    </div>
            {% else %}

                    <a href="{% url 'login' %}" class="nav-links">Log in</a>
                    <a href="{% url 'signup' %}" class="nav-links">Create account</a>

            {% endif %}
        </div>
</nav>
