body{
    background: rgb(0, 29, 42) !important;
}
*{
    color: white;
}
input, textarea{
    color: rgb(0, 55, 80) !important;
}
.search-bar{
    border: none;
    outline: none;
    background: white !important;
}

#trialshit{
    color: rgb(206, 55, 0);
}