            <hr>
            <div>
                {% for message in room_messages %}

                    <div>
                        <div>
                            <span>
                                
                                    {% if request.user != message.user %}
                                        <a href="{% url 'profile' message.user %}">@{{ message.user }}</a>
                                    {% else %}
                                        <a href="{% url 'profile' message.user %}">You</a>
                                    {% endif %}
                                
                                <span>{{ message.created|timesince }} ago</span>
                                <p>
                                    replied to " <a href="room/{{message.room.id}}">{{ message.room }}</a> "
                                </p>
                                <p style="padding:5px;background:rgb(5, 95, 136);">
                                    {{ message }}
                                </p>
                                {% if request.user == message.user %}
                                    <a href="{% url 'delete-message' message.id %}">Delete</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>