{% extends 'layout.html' %}

{% block content %}


    <form method="POST" action="">
        {% csrf_token %}

        <div>
            <label for="topic">Topic</label>
            {% if currentTopic == "" %}
                <input list="topicsList" type="text" id="topic" name="topic" placeholder="Topic" required>
            {% else %}
                <input list="topicsList" type="text" value={{ currentTopic }} id="topic" name="topic" placeholder="Topic" required>
            {% endif %}
            <datalist id="topicsList" name="topicsList">
                {% for option in topics %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </datalist>
                
            </select>
            {% comment %} {{ form }} {% endcomment %}
            {% comment %} {{ form.topic }} {% endcomment %}
        </div>
        <div>
            <label for="name">Name</label>
            {{ form.name }}
        </div>
        <div>
            <label for="description">Description</label>
            {{ form.description }}
        </div>

        <input type="submit" value="Submit">

    </form>


{% endblock content %}