{% extends 'layout.html' %}


{% block content %}

    <style>
        .room-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>

    <div class="room-container" style="margin: 0px 10px;">
        <section>
            <div class="room-header">
                <section id="roomHeaderSection">
                    <div>
                        <h2 style="color:rgb(212, 241, 255)">
                            {{ room.name }} <br>
                        </h2>
                        <p style="color:rgb(171, 225, 251)">{{ room.description }}</p>
                    </div>
                    <div>

                        {% if request.user.is_authenticated %}

                            {% if request.user == room.host %}
        
                                <div style="display:flex;justify-content:space-between">
                                    <p>
                                        <b><a id="editRoomLink" href="{% url 'update-room' room.id %}">Edit room</a></b>
                                    </p>
                                    <p>-_-</P>
                                    <p>
                                        <b><a id="deleteRoomLink" href="{% url 'delete-room' room.id %}">
                                            Delete room
                                        </a></b>
                                    </p>
                                </div>
                            {% endif %}
                        {% endif %} 
                    </div>
                    <style>
                        #roomHeaderSection{
                            display: flex;
                            justify-content: space-between;
                            margin: 5px;
                        }
                        #editRoomLink{
                            color: rgb(169, 169, 255);
                        }
                        #deleteRoomLink{
                            color: rgb(255, 109, 151);
                        }
                        #typeMessage{
                            border: none;
                            outline: none;
                            padding: 5px;
                            border-radius: 5px;
                            width: 80%;
                        }
                        .singleRoomMessage{
                            background: rgb(0, 57, 83);
                            padding:5px;
                            margin: 10px 0px;
                            border: 2px solid rgb(171, 225, 251);
                            border-radius: 5px;
                        }
                    </style>
                </section>
                
            </div>
            <div class="comment-wrapper">
                <h3>Discussion</h3>
        
        
                {% for message in room_messages %}
        
                    <div class="singleRoomMessage" style="{% if request.user == message.user %} background: rgb(206, 55, 0); {% endif %}">
                        <div>
                                        {% if request.user != message.user %}
                                            <a href="{% url 'profile' message.user %}">@{{ message.user }}</a>
                                        {% elif request.user == message.user %}
                                            <a href="{% url 'profile' message.user %}">You</a>
                                        {% endif %}
                            <span>{{ message.created|timesince }} ago</span>
                        </div>
                        <div>
                            <p id="messageBody">
                                {{ message.body }}
                            </p>
                        </div>
                        {% if request.user == message.user %}
                            <div>
                                <small>
                                    
                                    <a href="{% url 'delete-message' message.id %}">Delete</a>
                                </small>
                            </div>
                        {% endif %}
                        <div>
                            <p onclick="changeReplyToValue()" style="cursor:pointer;">Reply</p>
                            <script>
                                function changeReplyToValue(){
                                    document.getElementById("replyTo").value == document.getElementById("messageBody").innerHTML
                                }
                            </script>
                        </div>
                    </div>

                {% endfor %}
                
                {% if request.user.is_authenticated %}
                    <div class="comment-form">
                        <form action="{% url 'room' room.id %}" method="POST">
                            {% csrf_token %}
                            <input id="typeMessage" type="text" name="body" placeholder="Write your message here and press Enter to send..." required>
                            <input id="replyTo" name="replyTo"></input>
                            {% comment %} style="background:transparent;border:none;outline:none;" disabled {% endcomment %}
                        </form>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="participants">
            <h3>Participants </h3>
            {% for participant in participants %}
                <p>@{{ participant }}</p>
            {% endfor %}
        </section>
    </div>

{% endblock content %}